/* Webfont: RogientBlock-Regular */@font-face {
    font-family: 'RogientBlock';
    src: url('Rogient Block.eot'); /* IE9 Compat Modes */
    src: url('Rogient Block.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Rogient Block.woff') format('woff'), /* Modern Browsers */
         url('Rogient Block.woff2') format('woff2'), /* Modern Browsers */
         url('Rogient Block.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

