/* Webfont: MochiBoom-Regular */@font-face {
    font-family: 'MochiBoom';
    src: url('Mochi Boom.eot'); /* IE9 Compat Modes */
    src: url('Mochi Boom.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Mochi Boom.woff') format('woff'), /* Modern Browsers */
         url('Mochi Boom.woff2') format('woff2'), /* Modern Browsers */
         url('Mochi Boom.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

