/* Webfont: Camphound-Regular */@font-face {
    font-family: 'Camphound';
    src: url('Camphound.eot'); /* IE9 Compat Modes */
    src: url('Camphound.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Camphound.woff') format('woff'), /* Modern Browsers */
         url('Camphound.woff2') format('woff2'), /* Modern Browsers */
         url('Camphound.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

